<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
</head>
<body>
<!-- action 속성: form에 작성한 데이터를 어디로 보낼지 지정 -->
<form action="/member/save" method="post">
    <!-- name 속성: 서버로 전송할 때 변수이름의 역할 -->
    닉네임: <input type="text" name="userNickname"> <br>
    이메일: <input type="text" name="userEmail"> <br>
    비밀번호: <input type="password" name="userPassword"> <br>
    휴대폰 번호: <input type="text" name="userPhonenum"> <br>
    생년월일: <input type="text" name="userBirthdate"> <br>
    성별: <label>남<input type="radio" id="male" name="userGender" value="1"></label>
         <label>여<input type="radio" id="female" name="userGender" value="2"></label>
         <label>선택안함<input type="radio" id="none" name="userGender" value="3"></label> <br>
    <input type="submit" value="회원가입">
</form>
</body>
</html>