<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<form action="/member/update" method="post">
    <input type="hidden" th:value="${updateUser.userId}" name="userId"><br>
    이메일: <input type="text" th:value="${updateUser.userEmail}" name="userEmail" readonly> <br>
    비밀번호: <input type="text" th:value="${updateUser.userPassword}" name="userPassword"> <br>
    닉네임: <input type="text" th:value="${updateUser.userNickname}" name="userNickname"> <br>
    휴대폰 번호: <input type="text" th:value="${updateUser.userPhonenum}" name="userPhonenum"> <br>
    생년월일: <input type="text" th:value="${updateUser.userBirthdate}" name="userBirthdate"> <br>
    성별: <label>남<input type="radio" id="male" name="userGender" value="1"></label>
    <label>여<input type="radio" id="female" name="userGender" value="2"></label>
    <label>선택안함<input type="radio" id="none" name="userGender" value="3"></label> <br>
    <input href="main" type="submit" value="정보수정">
</form>
</body>
</html>